In [1]:
def countvowels(string):
    vowel_count = 0
    for i in string:
        if i in "aeiouAEIOU":
            vowel_count += 1
    return vowel_count

In [2]:
print(countvowels('Lee'))

2

In [4]:
# write a function that will print elements from the beginning to the halfway point of a list
def beginning_to_half(list_input):
    return list_input[0:len(list_input)//2]

print(beginning_to_half([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[1, 2, 3, 4, 5]

In [9]:
def funcy(x):
    return x % 7

In [10]:
L = [15, 3, 11, 7]

In [11]:
print(sorted(L))

[3, 7, 11, 15]

In [12]:
print(sorted(L, key=funcy))

[7, 15, 3, 11]

In [15]:
students = [
    ['john', 'A', 15],
    ['jane', 'B', 12],
    ['dave', 'B', 10]
]

In [16]:
print(students)

[['john', 'A', 15], ['jane', 'B', 12], ['dave', 'B', 10]]

In [17]:
students.sort(key=lambda student:student[2])

In [18]:
print(students)

[['dave', 'B', 10], ['jane', 'B', 12], ['john', 'A', 15]]

In [19]:
nums = [1,2,3]

In [20]:
print(nums)

[1, 2, 3]

In [21]:
x = nums.pop(2)

In [22]:
print(x)

3

In [23]:
print(nums)

[1, 2]

In [24]:
y = nums.pop()
print(y)

2

In [25]:
print(nums)

[1]

In [26]:
nums = [1,2,3]

In [27]:
del nums[2]

In [28]:
print(nums)

[1, 2]

In [30]:
fruits = ['apples', 'bananas', 'peaches']
val = fruits.remove('bananas') # removes by value rather than index
print(val)

None

In [31]:
print(fruits)

['apples', 'peaches']

In [32]:
# Aliasing
a = [1,2,3]
b=a
print(b is a)

True

In [33]:
b[0] = 7

In [34]:
print(b)

[7, 2, 3]

In [35]:
print(a)

[7, 2, 3]

In [36]:
# Tuples
t1 = 1,2,3,4,5
print(t1)

(1, 2, 3, 4, 5)

In [37]:
type(t1)

tuple

In [38]:
t1 = 'a'
type(t1)

str

In [39]:
# must include final comma to be a tuple
t1 = 'a',
type(t1)

tuple

In [40]:
print(t1)

('a',)

### Enclosed in Parentheses

In [41]:
t2 = ('a', 'e', 'i', 'o', 'u')
print(t2)

('a', 'e', 'i', 'o', 'u')

In [42]:
type(t2)

tuple

### Tuple Function

In [43]:
t3 = tuple(['king', 'queen', 'bishop', 'knight', 'rook', 'pawn'])
print(t3)

('king', 'queen', 'bishop', 'knight', 'rook', 'pawn')

In [44]:
type(t3)

tuple

In [45]:
name_tuple = tuple("Roberto")

In [46]:
print(name_tuple)

('R', 'o', 'b', 'e', 'r', 't', 'o')

### Nested Tuples

In [47]:
nested_tuple = (1,2,3), (4,5)

In [48]:
print(nested_tuple)

((1, 2, 3), (4, 5))

### Accessing Elements from a Tuple

In [49]:
regular_tuple = (1,2,3)

In [50]:
regular_tuple[0]

1

In [51]:
nested_tuple = (1,2,3),(4,5)

In [52]:
nested_tuple[1]

(4, 5)

In [53]:
nested_tuple[1][0]

4

### Tuples are Immutable

In [54]:
sides = ('a', 'b')

In [55]:
sides[0] = 'z'

TypeError: 'tuple' object does not support item assignment

### Mutable Objects Inside of Tuples

In [56]:
my_tuple = (['a', 'b', 'c'], 'roberto', (1,2,3))
my_tuple[0]

['a', 'b', 'c']

In [59]:
my_tuple[0].append('d')
my_tuple[0]

['a', 'b', 'c', 'd', 'd', 'd']

### Tuple Concatenation

In [60]:
fruits = ('apples', 'bananas')
vegetables = ('green beans', 'broccoli')

In [65]:
fruits + vegetables

('apples', 'bananas', 'green beans', 'broccoli')

### Unpacking Tuples

In [1]:
nums_tup = (1, 2, 3)
a, b, c = nums_tup

In [2]:
a

1

In [3]:
b

2

In [4]:
c

3

### Tuple Assignment

In [6]:
a = 1
b = 2
print (a, b)

1 2

In [7]:
temp = a
a

1

In [8]:
a = b
a

2

In [9]:
b = temp
b

1

In [10]:
print(a,b)

2 1

### Tuple Assignment

In [11]:
a = 1
b = 2
print(a,b)

1 2

In [12]:
a, b = b, a
print(a, b)

2 1

### Tuples as Return Values

In [16]:
def first_and_last(word):
    return word[0], word[-1]
print(first_and_last("monkey"))

<class 'str'>
('m', 'y')

### Tuples as Args - Gather

In [14]:
def print_all(*args):
    print(type(args))
    for item in args:
        print(item)

In [15]:
print_all("kit kat", "snickers", "milky way")

<class 'tuple'>
kit kat
snickers
milky way

### Tuples as Args - Scatter

In [17]:
def sum(a, b):
    return a + b

In [18]:
print(sum(1, 2))

3

In [19]:
t = (1, 2)
print(sum(*t))

3

### Tuple Methods - Count

In [20]:
name = tuple('roberto')
name.count('o')

2

In [21]:
customer_age = (18, 18, 19, 21, 21, 25, 30, 55)
customer_age.count(18)

2

## ZIP BUILT-IN FUNCTION

In [24]:
s = 'abc'
t = [0,1,2]
result = zip(s,t)
type(result)

zip

In [25]:
print(result)

<zip object at 0x7f8642477ac0>

### Iterating with Zip

In [27]:
s = 'abc'
t = [0,1,2]
for pair in zip(s, t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

## Enumerate Built-In Function

In [28]:
trilogy = ['The Matrix', 'The Matrix Reloaded', 'The Matrix Revolutions']

In [31]:
for index, element in enumerate(trilogy, start=1):
    print(index, element)

1 The Matrix
2 The Matrix Reloaded
3 The Matrix Revolutions

# Dictionaries

In [34]:
empty_dict = {}
phone_numbers = {
    'mom': '302-123-4567', 
    'dad': '302-123-4567', 
    'my_boy_blue': '302-654-9876'
}

In [35]:
print(phone_numbers)

{'mom': '302-123-4567', 'dad': '302-123-4567', 'my_boy_blue': '302-654-9876'}

### Dict Function

In [38]:
empty_dict = dict()
items_to_prices = dict(milk=4.5, bread=2.55, beef=7.50)
items_to_prices['milk']

4.5

### Accessing Elements from a Dictionary

In [39]:
english_to_spanish = {
    'one':'uno',
    'two':'dos',
    'three':'tres'
}
english_to_spanish['one']

'uno'

In [40]:
english_to_spanish['four']

KeyError: 'four'

### THE IN OPERATOR - KEYS

In [41]:
'one' in english_to_spanish

True

In [42]:
'four' in english_to_spanish

False

### THE IN OPERATOR - VALUES

In [43]:
english_to_spanish.keys()

dict_keys(['one', 'two', 'three'])

In [44]:
english_to_spanish.values()

dict_values(['uno', 'dos', 'tres'])

In [45]:
'uno' in english_to_spanish.values()

True

### UPDATING ITEMS IN A DICTIONARY

In [46]:
spells = {}

In [47]:
spells['Expelliarmus'] = 'The only spell Harry knows.'
print(spells)

{'Expelliarmus': 'The only spell Harry knows.'}

In [48]:
spells['Expelliarmus'] = 'A useless spell that can be ignored if you own a Nintendo Wii hand strap'

In [49]:
print(spells)

{'Expelliarmus': 'A useless spell that can be ignored if you own a Nintendo Wii hand strap'}

### DELETING ITEMS FROM DICTIONARY

In [51]:
nums_to_words = {1:'one', 2: 'two', 3: 'three'}
print(nums_to_words)

{1: 'one', 2: 'two', 3: 'three'}

In [53]:
del nums_to_words[1]
print(nums_to_words)

{2: 'two', 3: 'three'}

In [54]:
item = nums_to_words.pop(3)
print(item)

three

In [55]:
print(nums_to_words)

{2: 'two'}

### DICTIONARY METHODS - GET

In [59]:
xmen_powers = {'Phoenix':'Telepathic and telekinetic', 'Wolverine':'Healing and claws'}
result = xmen_powers.get('Wolverine')
print(result)

Healing and claws

In [60]:
result = xmen_powers.get('Nightcrawler', 'Unknown Powers')
print(result)

Unknown Powers

In [61]:
result = xmen_powers.get('Captain Underpants')
print(result)

None

### DICTIONARY ITERATION

In [62]:
for key in xmen_powers:
    print("key: {0:20s}\tValue: {1:s}".format(key, xmen_powers[key]))

key: Phoenix             	Value: Telepathic and telekinetic
key: Wolverine           	Value: Healing and claws

### DICTIONARY METHODS - ITEMS

In [64]:
simple_dict = {'a': 1, 'b': 2, 'c': 3}
simple_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

### ITERATING DICTIONARIES WITH ITEMS METHOD

In [65]:
for key, value in simple_dict.items():
    print(key, value)

a 1
b 2
c 3

### ZIP BUILT-IN FUNCTIONS REVISITED

In [66]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = dict(zip(keys, values))
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

### DICTIONARIES AS KWARGS - GATHER

In [67]:
def print_team(**kwargs):
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [68]:
print_team(bait="Scooby-Doo", lovable_coward="Shaggy", leader="Fred", brain="Velma", investor="Daphne")

<class 'dict'>
bait: Scooby-Doo
lovable_coward: Shaggy
leader: Fred
brain: Velma
investor: Daphne

### DICTIONARIES AS KWARGS - SCATTER

In [69]:
team = {
    "bait": "Scooby-Doo",
    "lovable_coward": "Shaggy",
    "leader": "Fred",
    "brain": "Velma",
    "investor": "Daphne"
}

In [70]:
def print_team(leader, brain, investor, **kwargs):
    print(f"leader: {leader}")
    print(f"brain: {brain}")
    print(f"investor: {investor}")
    print(kwargs)

In [71]:
print_team(**team)

leader: Fred
brain: Velma
investor: Daphne
{'bait': 'Scooby-Doo', 'lovable_coward': 'Shaggy'}

## SETS