In [1]:
def countvowels(string):
    vowel_count = 0
    for i in string:
        if i in "aeiouAEIOU":
            vowel_count += 1
    return vowel_count

In [2]:
print(countvowels('Lee'))

2

In [4]:
# write a function that will print elements from the beginning to the halfway point of a list
def beginning_to_half(list_input):
    return list_input[0:len(list_input)//2]

print(beginning_to_half([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[1, 2, 3, 4, 5]

In [9]:
def funcy(x):
    return x % 7

In [10]:
L = [15, 3, 11, 7]

In [11]:
print(sorted(L))

[3, 7, 11, 15]

In [12]:
print(sorted(L, key=funcy))

[7, 15, 3, 11]

In [15]:
students = [
    ['john', 'A', 15],
    ['jane', 'B', 12],
    ['dave', 'B', 10]
]

In [16]:
print(students)

[['john', 'A', 15], ['jane', 'B', 12], ['dave', 'B', 10]]

In [17]:
students.sort(key=lambda student:student[2])

In [18]:
print(students)

[['dave', 'B', 10], ['jane', 'B', 12], ['john', 'A', 15]]

In [19]:
nums = [1,2,3]

In [20]:
print(nums)

[1, 2, 3]

In [21]:
x = nums.pop(2)

In [22]:
print(x)

3

In [23]:
print(nums)

[1, 2]

In [24]:
y = nums.pop()
print(y)

2

In [25]:
print(nums)

[1]

In [26]:
nums = [1,2,3]

In [27]:
del nums[2]

In [28]:
print(nums)

[1, 2]

In [30]:
fruits = ['apples', 'bananas', 'peaches']
val = fruits.remove('bananas') # removes by value rather than index
print(val)

None

In [31]:
print(fruits)

['apples', 'peaches']

In [32]:
# Aliasing
a = [1,2,3]
b=a
print(b is a)

True

In [33]:
b[0] = 7

In [34]:
print(b)

[7, 2, 3]

In [35]:
print(a)

[7, 2, 3]

In [36]:
# Tuples
t1 = 1,2,3,4,5
print(t1)

(1, 2, 3, 4, 5)

In [37]:
type(t1)

tuple

In [38]:
t1 = 'a'
type(t1)

str

In [39]:
# must include final comma to be a tuple
t1 = 'a',
type(t1)

tuple

In [40]:
print(t1)

('a',)

### Enclosed in Parentheses

In [41]:
t2 = ('a', 'e', 'i', 'o', 'u')
print(t2)

('a', 'e', 'i', 'o', 'u')

In [42]:
type(t2)

tuple

### Tuple Function

In [43]:
t3 = tuple(['king', 'queen', 'bishop', 'knight', 'rook', 'pawn'])
print(t3)

('king', 'queen', 'bishop', 'knight', 'rook', 'pawn')

In [44]:
type(t3)

tuple

In [45]:
name_tuple = tuple("Roberto")

In [46]:
print(name_tuple)

('R', 'o', 'b', 'e', 'r', 't', 'o')

### Nested Tuples

In [47]:
nested_tuple = (1,2,3), (4,5)

In [48]:
print(nested_tuple)

((1, 2, 3), (4, 5))

### Accessing Elements from a Tuple

In [49]:
regular_tuple = (1,2,3)

In [50]:
regular_tuple[0]

1

In [51]:
nested_tuple = (1,2,3),(4,5)

In [52]:
nested_tuple[1]

(4, 5)

In [53]:
nested_tuple[1][0]

4

### Tuples are Immutable

In [54]:
sides = ('a', 'b')

In [55]:
sides[0] = 'z'

TypeError: 'tuple' object does not support item assignment

### Mutable Objects Inside of Tuples

In [56]:
my_tuple = (['a', 'b', 'c'], 'roberto', (1,2,3))
my_tuple[0]

['a', 'b', 'c']

In [59]:
my_tuple[0].append('d')
my_tuple[0]

['a', 'b', 'c', 'd', 'd', 'd']

### Tuple Concatenation

In [60]:
fruits = ('apples', 'bananas')
vegetables = ('green beans', 'broccoli')

In [65]:
fruits + vegetables

('apples', 'bananas', 'green beans', 'broccoli')

### Unpacking Tuples